.chart {
	padding-bottom: 10px;
}

.chart rect {
	stroke: white;
}

.chart text {
	font: 10px sans-serif;
}

.chart .bar-label {
	fill: white;
}
.chart line {
	stroke: #ccc;
}

.chart-holder {
	width: 80%;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	top: -300px;
	right: -8%;
}
.chart-div {
	width: 100%;
	border: 1px solid gray;
	height: 620px;
	overflow: hidden;
}

.legend {
	position: relative;
	top: -610px;
	float: right;
        
}
#grade-slider{
    width:25%;
    position:relative;
    left:109px;
    top:5px;
    font-family:serif;
    font-size:none;
    
}

.grade-title{
    position:relative;
    left:-110px;
    top:-4px;
    font-weight:normal;
    font-size:12pt;
    color:#000000;
    
}
#amount{
    position:relative;
    left:225px;
    top:5px;
    
}

.time{
    font-size:12pt;
}

.video_data_labels {
	position: relative;
	top: -300px;
}

.video_data_chart {
	position: relative;
	top: -600px
}

.video_data_chart line{
	position: relative;
	top: 300px;
}
            