.chart {
	padding-bottom: 10px;
}

.chart rect {
	stroke: white;
}

.chart text {
	font: 10px sans-serif;
}

.chart .bar-label {
	fill: white;
}
.chart line {
	stroke: #ccc;
}

.chart-holder {
	width: 95%;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	top: -300px;
	right: -50px;
}
.chart-div {
	width: 100%;
	border: 1px solid gray;
	height: 310px;
	overflow: hidden;
}

